.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left{
        .logo{
            font-weight: bold;
            font-size:30px;
            color: darkblue;
            cursor: pointer;
        }

    }

    &__right{
        &__Icons{
            display: flex;
            align-items: center;
            cursor: pointer;

            & > div {
                margin-right: 10px;
            }

        }
    }
}

