body{
    a{
        text-decoration: none;        
    }
    .main-content{
        display: flex;        
    }

    .header__icon:focus .Catalog__left__navigation > .Catalog__left__txt{
        display: block;
        background-color: red;
    }

    .header__icon:hover .Catalog__left__txt{
        display: block;
        background-color: red;
    }
    background-color: '#edeff7';
}