.Catalog {
  display: flex;
  a{
    text-decoration: none;
    color: #000;
  }
  &__left {
    width: 100px;
    height: 100px;
    .active{
      background-color: #e8ebed;
      border-radius: 10px;
      
    }
  }

  &__right {
    &__title {
      margin-top: 15px;
      align-items: baseline;
      & > h2 {
        color: #000;
        font-size: 2.8rem;
        font-weight: 900;
        margin-right: auto;
        margin-top: 16px;
      }
    }

    .test{
        width: 100%;
        padding-top: 56%;
        object-fit: cover;
        border-radius: 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: rgba(0,0,0,.1);
    }
  }
  h3 {
    color: #292929;
    font-size: 1.8rem;
    line-height: 1.8;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
