.Catalog {
  display: flex;  
  width: 100px;  
  height: 100%;
  a{
    text-decoration: none;
    color: #000;
  }
  &__left {
    width: 50px;
    height: 50px;
    padding: 20px;
    .active{
      background-color: #e8ebed;
      border-radius: 10px;      
    }

    &__txt{
      display: none;
    }
  }

  &__right {
    &__title {
      margin-top: 15px;
      align-items: baseline;
      & > h2 {
        color: #000;
        font-size: 2.8rem;
        font-weight: 900;
        margin-right: auto;
        margin-top: 16px;
      }
    }

  }
  h3 {
    color: #292929;
    font-size: 1.8rem;
    line-height: 1.8;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

.navigate .active{
  padding: 10px;
  border: 1px solid;
  background-color: red;
  border-radius: 50%;
}